bolgAppClient/Connected Services/ServiceReference3/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/blogAppLibrary" />
  <xs:element name="CreateComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsByPostId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsByPostIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/blogAppLibrary" minOccurs="0" name="GetCommentsByPostIdResult" nillable="true" type="q1:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>