bolgAppClient/Connected Services/ServiceReference3/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CommentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/blogAppLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommentService_CreateComment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateComment" />
  </wsdl:message>
  <wsdl:message name="ICommentService_CreateComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetCommentsByPostId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsByPostId" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetCommentsByPostId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentsByPostIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommentService">
    <wsdl:operation name="CreateComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/CreateComment" message="tns:ICommentService_CreateComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/CreateCommentResponse" message="tns:ICommentService_CreateComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByPostId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/GetCommentsByPostId" message="tns:ICommentService_GetCommentsByPostId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/GetCommentsByPostIdResponse" message="tns:ICommentService_GetCommentsByPostId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommentService" type="tns:ICommentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateComment">
      <soap:operation soapAction="http://tempuri.org/ICommentService/CreateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentsByPostId">
      <soap:operation soapAction="http://tempuri.org/ICommentService/GetCommentsByPostId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentService">
    <wsdl:port name="BasicHttpBinding_ICommentService" binding="tns:BasicHttpBinding_ICommentService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/blogAppLibrary/CommentService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>